<div id="intro-three-container" aria-hidden="true"></div>

<img class="pp" src="{{ site.data.main.about_me.pp_path }}"
    alt="{{site.data.main.about_me.name}} {{site.data.main.about_me.surname}} profile picture" loading="lazy"
    decoding="async">
<h1>{{ site.data.main.about_me.name }} {{ site.data.main.about_me.surname }}</h1>
<h3>{{ site.data.main.about_me.short_description | markdownify }}</h3>
<div class="contact_wrapper">
    {% for contact in site.data.main.contact %}
    <a href="{{ contact.url }}" target="_blank" rel="noopener noreferrer">
        <button>
            <img src="{{ contact.icon }}" alt="{{ contact.name }} icon" class="contact-icon" loading="lazy"
                decoding="async">
        </button>
    </a>
    {% endfor %}
</div>
