.project-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url("/assets/publications/cad_cvpr/background_banner.jpg") repeat-x;
    background-size: cover;
    margin-top: 50px;
    animation: slide 8000s linear infinite;
    position: relative;
}

.dark-theme .project-header {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("/assets/publications/cad_cvpr/background_banner.jpg") repeat-x;
    background-size: cover;
    animation: slide 8000s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -10000% 0px;
    }
}

@media (max-width: 767px) {
    .project-header {
        width: 100%;
    }
}