<h2>Publications</h2>
{% assign sorted_publications = site.data.publications | sort: 'date' | reverse %}
{% assign prev_year = '' %}
{% for publication in sorted_publications %}
{% if publication.year != prev_year %}
{% if forloop.index != 1 %}
</div>
{% endif %}
{% assign prev_year = publication.year %}
<h3 class="publications-year">{{ publication.year }}</h3>
<div class="publications-yealy-wrapper">
    {% endif %}
    <div class="publication">
        {% if publication.thumbnail %}
        <img class="publication-thumbnail" src="{{ publication.thumbnail }}" alt="{{ publication.title }} thumbnail">
        {% endif %}
        <div class="publication-content">
            <div class="publication-title">{{ publication.title }}</div>
            <div class="publication-authors">{{ publication.authors }}</div>
            <div class="publication-journal">{{ publication.journal }}</div>
            <div class="publication-buttons">
                <a href="{{ publication.pdf }}">Paper</a>
                {% if publication.github %}
                <a href="{{ publication.github }}">Code</a>
                {% endif %}
                {% if publication.website %}
                <a href="{{ publication.website }}">Website</a>
                {% endif %}
                {% if publication.abstract %}
                <a class="publication-abstract-toggle" id="abstract-toggle-{{ forloop.index }}">Abstract</a>
                {% endif %}
                {% if publication.bibtex %}
                <a class="publication-bibtex-toggle" id="bibtex-toggle-{{ forloop.index }}">Bibtex</a>
                {% endif %}
            </div>
            <div class="publication-abstract" id="abstract-{{ forloop.index }}" style="display: none;">
                {{ publication.abstract | markdownify }}
            </div>
            <div class="publication-bibtex" id="bibtex-{{ forloop.index }}" style="display: none;">
                <pre>{{ publication.bibtex }}</pre>
            </div>
        </div>
    </div>
    {% endfor %}
    <script>
        const bibtexToggles = document.querySelectorAll('.publication-bibtex-toggle');
        bibtexToggles.forEach((toggle, index) => {
            const bibtex = document.querySelector(`#bibtex-${index + 1}`);
            const abstract = document.querySelector(`#abstract-${index + 1}`);
            toggle.addEventListener('click', () => {
                if (bibtex.style.display === 'none') {
                    bibtex.style.display = 'block';
                    abstract.style.display = 'none';
                    abstract.classList.remove('show');
                    setTimeout(() => bibtex.classList.add('show'), 0);
                } else {
                    bibtex.style.display = 'none';
                    bibtex.classList.remove('show');
                }
            });
        });

        const abstractToggles = document.querySelectorAll('.publication-abstract-toggle');
        abstractToggles.forEach((toggle, index) => {
            const abstract = document.querySelector(`#abstract-${index + 1}`);
            const bibtex = document.querySelector(`#bibtex-${index + 1}`);
            toggle.addEventListener('click', () => {
                if (abstract.style.display === 'none') {
                    abstract.style.display = 'block';
                    bibtex.style.display = 'none';
                    bibtex.classList.remove('show');
                    setTimeout(() => abstract.classList.add('show'), 0);
                } else {
                    abstract.style.display = 'none';
                    abstract.classList.remove('show');

                }
            });
        });
    </script>

</div>